/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 3, 2023, 12:43:13 PM
    Author     : Talos
*/

a:visited {
    color: red;
}

a:link{
    color: chartreuse;
}

h1, h2, h3 {
    font-family: sans-serif;
}

p{
    color: grey
}